/* rscss */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body, html {
    width: 100vw;
    height: 100vh;
    background: white;

}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* content */
.content {
    height: 100vh;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.content h3 {
    font-size: 60px;
    margin-bottom: 20px;
    color: #f55f8d;
}

.content p {
    font-size: 30px;
    margin-bottom: 20px;
    color: #f55f8d;
    text-align: center;
}


/* button */
.btn_gradient {
    padding: 40px 70px;
    font-size: 20px;
    font-weight: 600;
    border: 1px solid transparent;
    transition: all 0.5s;
    border-radius: 30px;
    cursor: pointer;
    outline: none;
    line-height: 1.2;
}

.btn_gradient:hover {
    background-position: right center;
    background-color: #f55f8d;
    color: #fff;
    text-decoration: none;
}

/* heart */
canvas {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: #fff;
    z-index: -10;
    width: 100%;
    height: 100%;
}